
<div class="game-content" (keypress)="onKey($event)" tabindex="1">
<div style="position: relative" class="box">

    <div 
        style="position: absolute; background-color: brown;" 
        *ngFor="let element of elements" 
        [@itemState]="element.position"
    ><p>{{ element.number || " " }}</p></div>
    
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    
</div>
</div>


<router-outlet></router-outlet>