.box {
    display: flex;
    flex-wrap: wrap;
    width: 450px;
    height: 450px;
    background-color: #957d7f;
    padding: 5px;
    box-sizing: border-box;
    border-radius: 5px;
}

.box div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    background-color: #b2a0a2;
    margin: 5px;
    border-radius: 5px;
    color: cornsilk;
}

.box div.game-over {
    width: 440px;
    height: 440px;
    background-color: #0000007a;
    border-radius: 5px;
    position: absolute;
    margin: 0px;
    z-index: 1;
    font-size: 40px;
}

.box div.value-2{
    background-color: #d6bdbb;
    font-size: 60px;
}

.box div.value-4{
    background-color: #d8a4a0;
    font-size: 60px;
}

.box div.value-8{
    background-color: #b94d5c;
    font-size: 60px;
}

.box div.value-16{
    background-color: #d8574a;
    font-size: 50px;
}

.box div.value-32{
    background-color: #702a39;
    font-size: 50px;
}

.box div.value-64{
    background-color: #621122;
    font-size: 50px;
}

.box div.value-128{
    background-color: #e06f2e;
    font-size: 40px;
}

.box div.value-256{
    background-color: #e0d42e;
    font-size: 40px;
}

.box div.value-512{
    background-color: #e0b02e;
    font-size: 40px;
}

.box div.value-1024{
    background-color: #e06f2e;
    font-size: 30px;
}

.box div.value-1024{
    background-color: #ff0000;
    font-size: 30px;
}

.game-content {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.info {
    display: flex; 
    flex-direction: column; 
    justify-content:space-evenly;
    align-items: center; 
    height: 450px; 
    width: 200px;
}

.info button {
    width: 100px;
    height: 50px;
    margin: 5px;
    border-radius: 5px;
    color: cornsilk;
    background-color: #d8574a;
    font-size: 16px;
}

.score {
    display: flex;
    flex-direction: column; 
    justify-content:center;
    align-items: center; 
    font-size: 30px; 
}

