.box {
    display: flex;
    flex-wrap: wrap;
    width: 450px;
    height: 450px;
    background-color: #957d7f;
    padding: 5px;
    box-sizing: border-box;
    border-radius: 5px;
}

.box div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    background-color: #b2a0a2;
    margin: 5px;
    border-radius: 5px;
    color: cornsilk;
}

.game-content {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.box div.value-2{
    background-color: #d6bdbb;
    font-size: 60px;
}

.box div.value-4{
    background-color: #d8a4a0;
    font-size: 60px;
}

.box div.value-8{
    background-color: #b94d5c;
    font-size: 60px;
}

.box div.value-16{
    background-color: #d8574a;
    font-size: 50px;
}

.box div.value-32{
    background-color: #702a39;
    font-size: 50px;
}

.box div.value-64{
    background-color: #621122;
    font-size: 50px;
}

.box div.value-128{
    background-color: #e06f2e;
    font-size: 40px;
}
